<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello World</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <h1>Hello {{name.upper()}} 👋</h1>
    <hr>
    </hr>
    <h4>If you are veiwing this page</h4>
    <h2>CONGRATULATIONS!</h2>
    <h2>You are {{age}} years old!</h2>

    <script src="../static/script.js"></script>
</body>

</html>